*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.refcache
/.targets.mk
/lib
/node_modules/
/versioned/
/__pycache__/
Gemfile.lock
archive.json
draft-cfrg-schwabe-kyber.xml
package-lock.json
report.xml
.DS_Store
